<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Federico Liberatore</title>
</head>
<body>
<header>
    <div class="container-picture">
        <a href="/"> <img src="/images/Fede-Grey.jpg" alt="Foto CV"> </a>
    </div>
    <div class="container-name">
        <h1>Federico Liberatore</h1>
    </div>
    <div class="container-title">
        <h2>Para ser Desarrollador</h2>
    </div>
</header>

<main>
<section class="experience">
    <article class="last-experience">
        <h4 class="Yoizen">Yoizen </h4>
        <p>Responsable del departamento de implementación para aplicaciones .NET. Armado de ChatBots para diferentes canales de atención (Whatsapp, Messenger, etc). Configuración de IIS, certificados SSL, etc. Asesoramiento al cliente. Implementación, cambio de versión e instalación de diferentes módulos de NPM para la aplicación del ChatBot como también para el servicio propio de chat.</p>
    </article>
</section>
</main>

<footer>

</footer>
</body>
</html>